.parallexContainer {
  background-color: rgb(0, 0, 0);
  height: 300vh;
  margin-bottom: 100vh;
  position: relative;
}

.parallexContainer div {
  width: 20rem;
  height: 20rem;
  background-color: red;
  position: sticky;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
