.loader {
  height: 50vh;
  border-radius: 2em;
  background-color: #000000;
  position: relative;
  gap: 2px;
  margin-bottom: 30vh;
}
.loader span {
  width: 30px;
  height: 30px;
  position: relative;
  display: inline-block;
  background-color: #fff;
}
