.p {
  font-size: 18px;
  line-height: 1.3;
  font-weight: 500;
  color: rgb(71 85 105);
  margin-bottom: 2rem;
  max-width: 70vw;
  letter-spacing: 1px;
  position: relative;
}

.button {
  background-color: #237fb7;
  border: none;
  border-radius: 15px;
  padding: 1rem 2rem;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 5rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.button:hover {
  transform: translateY(-2px);
}

@media (max-width: 880px) {
  .heading2 {
    font-size: 2.6rem;
  }
}
@media (max-width: 493px) {
  .heading1 {
    margin-bottom: 3rem;
  }
  .heading2 {
    font-size: 2.4rem;
  }
}
.mainComponentsHeader button,
.mainComponentsHeader span {
  border: none;
  background-color: transparent;
  font-size: 1.4rem;
  color: #504f4f;
  margin-block: 1rem;
}
.mainComponentsHeader button {
  cursor: pointer;
}
.mainComponentsHeader span {
  pointer-events: none;
}
.mainComponentsHeader button:hover {
  text-decoration: underline;
}
.h1 span {
  font-size: 4.5rem;
  margin-bottom: 2rem;
  overflow: hidden;
  color: #000;
}
.heading2 {
  font-size: 2.4rem;
  color: #242323;
  margin-bottom: 1rem;
}
