.paragraph {
  font-size: 2rem;
  line-height: 1.7;
  letter-spacing: 1.4px;
  margin-block-start: 4rem;
  margin-block-end: 2rem;
  text-align: justify;
  font-family: 800;
}

.button {
  background-color: #237fb7;
  border: none;
  border-radius: 15px;
  padding: 1rem 2rem;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 5rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.button:hover {
  transform: translateY(-2px);
}
.heading1 {
  text-transform: capitalize;
  font-size: 4rem;
  letter-spacing: 1.8px;
  color: #000000;
  margin-bottom: 3rem;
}
.heading2 {
  text-transform: capitalize;
  font-size: 2.4rem;

  color: #242323;
  margin-bottom: 1rem;
}
@media (max-width: 880px) {
  .heading2 {
    font-size: 2.6rem;
  }
}
@media (max-width: 493px) {
  .heading1 {
    margin-bottom: 3rem;
  }
  .heading2 {
    font-size: 2.4rem;
  }
}
.mainComponentsHeader button,
.mainComponentsHeader span {
  border: none;
  background-color: transparent;
  font-size: 1.4rem;
  color: #504f4f;
  margin-block: 1rem;
}
.mainComponentsHeader button {
  cursor: pointer;
}
.mainComponentsHeader span {
  pointer-events: none;
}
.mainComponentsHeader button:hover {
  text-decoration: underline;
}
