.form1Container {
  background-color: rgb(241 245 249);
  padding: 3%;
  color: #fff;
}
.form1ContainerInner {
  height: fit-content;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}
.form1 {
  padding: 2rem 3rem;
  position: relative;
  z-index: 99;
  width: 53%;
}
.form1 h3 {
  font-size: 3.8rem;
  font-weight: 900;
}
.inputDiv {
  display: flex;
  flex-direction: column;
  margin-block: 1rem;
  align-items: flex-start;
  margin-bottom: 2rem;
}
.inputDiv label {
  font-size: 2.3rem;
  margin-bottom: 0.8rem;
}
.inputDiv input {
  height: 4rem;
}
.inputDiv input,
.inputDiv textarea {
  border-radius: 9px;
  width: 100%;
  border: none;
  font-size: 2rem;
  color: #ffffff;
  padding: 0.5rem 1rem;
}
.inputDiv textarea {
  resize: none;
  width: 100%;
  height: 150px;
}
.inputDiv input:focus,
.inputDiv textarea {
  outline: none;
}
.form1 button {
  width: 100%;
  border: none;
  padding: 1rem 1.3rem;
  margin-block: 1rem;
  border-radius: 9px;
  font-size: 2.7rem;
  transition: transform 0.05s ease-in;
}
.form1 button:hover {
  transform: scale(1.03);
}
::placeholder {
  color: #ffffffad;
}

::-ms-input-placeholder {
  color: #ffffffad;
}

.formImgContainer {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0%;
  z-index: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.form1Container img {
  width: 100%;
  background-size: cover;
  display: inline-block;
  min-height: 700px;
}

/* toggle tab checkbox */

.switch {
  position: relative;
  width: 210px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 0.71em;
  overflow: hidden;
}
.switch input {
  appearance: none;
  width: 200px;
  height: 40px;
}
.switch input::before,
.switch input::after {
  font-size: 0.73em;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  font-weight: 550;
}
.switch input::after {
  color: #6d28d9;
}
.switch input:checked::after {
  color: #fff;
}
.switch input:checked::before {
  color: #4338ca;
}
.switch input::after {
  content: "An individual";
}
.switch input::before {
  content: "A company";
  left: 57%;
}
.switch span {
  width: 110px;
  height: 38.6px;
  position: absolute;
  background-color: #ffffff;
}
