.cardContainer {
  height: 100vh;
  position: sticky;
  top: 0%;
}
.articleContainer {
}
.cardScroll {
  position: relative;
}
.card {
  position: relative;
  /* top: -10%; */
  margin-top: 100px;
  width: 800px;
  height: 300px;
  border-radius: 15px;
  text-align: center;
  box-sizing: border-box;
}
