.headerVoidContainer {
  height: 675px;
  background-color: rgb(0, 0, 0);
  position: relative;
  margin-left: auto;
}
.headerVoidContainer .headerContent {
  pointer-events: none;
  position: absolute;
  top: 0;
  color: #fff;
}
.headerContent {
  padding: 13.5rem 1%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.headerContent h1 {
  font-size: clamp(2.827rem, 0.5rem + 14vw, 12rem);
  margin-bottom: 5rem;
  font-weight: 900;
}
.headerContent p {
  max-width: 110rem;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.397);
  line-height: 1.5;
  letter-spacing: 0.8px;
  margin-bottom: 4rem;
}
.headerContent button {
  background-color: #818df8;
  border: none;
  border-radius: 15px;
  padding: 1rem 2.9rem;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 5rem;
  cursor: pointer;
  transition: transform 0.3s ease;
  pointer-events: all;
}

.voidRow {
  display: flex;
}
.void {
  background-color: rgba(129, 141, 248, 0);
  height: 75px;
  width: 75px;
  border-right: 2px solid rgba(23, 23, 23, 0.712);
  border-top: 2px solid rgba(23, 23, 23, 0.712);
}

@media (max-width: 1059px) {
  .headerContent h1 {
    font-size: clamp(5.827rem, 1rem + 10vw, 11rem);
    margin-bottom: 2rem;
  }
}
