.textAnimationsContainer {
  padding: 3rem;
  background-color: rgb(15 23 42);
}
.textBox {
  background-color: #ffffff;
  padding: 1rem 3rem;
  font-weight: 550;
  border-radius: 5px;
  height: 15rem;
  display: flex;
  align-items: center;
  gap: 3rem;
  justify-content: center;
  position: relative;
}

.textAnimationsContainer p {
  pointer-events: none;
  font-size: 2.6rem;
  margin-bottom: 1rem;
}
.textAnimationsContainer span {
  font-size: 5rem;
}
.hovermeText {
  position: absolute;
  top: 0;
  font-weight: 400;
}
