.textAnimationsContainer {
  padding: 3rem;
  height: 50rem;
  background-color: rgb(15 23 42);
}
.textBox {
  background-color: #ffffff;
  padding: 1rem 3rem;
  display: inline-block;
  font-weight: 550;
  border-radius: 5px;
  width: 30rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  justify-content: center;
  position: relative;
}
.animationBtn {
  width: 10rem;
  background-image: linear-gradient(
    45deg,
    rgb(47, 2, 51),
    rgb(89, 22, 102),
    rgb(136, 14, 75)
  );
  border-radius: 9px;
  padding: 0.6rem 1.5rem;
  color: #fff;
  font-size: 2rem;
  border: none;
  box-shadow: 0 2px 4px -1px rgb(136, 14, 75);
  transition: transform 0.04s linear;
  position: absolute;
  bottom: 10%;
}
.animationBtn:hover {
  transform: scale(1.04) translateY(-3px);
}

.textAnimationsContainer p {
  pointer-events: none;
  font-size: 2.6rem;
  margin-bottom: 1rem;
}
