html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar {
  display: none;
}
body {
  font-family: Alaska, sans-serif;
}
p {
  font-size: 1.4rem;
  letter-spacing: -0.6px;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  padding: 6rem 9% 6rem 9%;
}
