html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar {
  display: none;
}
body {
  font-family: Alaska, sans-serif;
}
p {
  font-size: 1.4rem;
  letter-spacing: -0.6px;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  padding: 6rem 9% 6rem 9%;
}
.active span {
  top: 138%;
  background-color: #ff0055;
}
aside .active {
  background-color: #9b69f1 !important;
  color: #fff !important;
}
main {
  height: calc(100vh - 49px);
  overflow-y: scroll;
}
main::-webkit-scrollbar,
aside::-webkit-scrollbar {
  display: none;
}
main,
aside {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
ul,
ol {
  list-style: none;
}
